:root {
    --main-color: #002c7e;
}

p {
    margin: 0;
}

/* LOCALIZATION */
#localization {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
}
#localization > div {
    display: flex;
    flex-wrap: wrap;
}
.form {
    display: flex;
    flex: 1;
}
.form > .fraze {
    flex: 7;
    text-align: center;
}
.form > .btn {
    flex: 1;
    background: var(--main-color);
    color: white;
    border-radius: 10%;
}
.form > * {
    font-size: 1em;
    margin-right: 10px;
    height: 35px;
}
.icons {
    font-size: 1.5em;
    color: var(--main-color);
}
#localization > p {
    font-size: 0.8em;
    font-style: italic;
    color: white;
}

/* BASIC INFO */
#basic-data {
    margin: 50px auto;
    background: rgba(255,255,255, 50%);
    display: grid;
    padding: 0;
    grid-template-columns: 260px 3px 1fr;
}
#basic-temp {
    margin: 15px;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 40px 40px 1fr;
    grid-template-areas:
        "temp unit"
        "temp btn"
        "temp none";
}
#temp-txt {
    grid-area: temp;
    width: 100%;
    height: 100%;
}
#temp-unit {
    grid-area: unit;
    font-size: 2em;
}
#btn-change-unit {
    grid-area: btn;
    color: rgba(0,0,0, 50%);
    background: transparent;
}
.big-txt {
    font-weight: bold;
    font-size: 5.5em;
    text-align: end;
}
.md-txt {
    font-weight: bold;
    text-align: center;
    margin: auto;
}
#basic-data .divider {
    border: 0;
    width: 2px;
    height: 150px;
    background-image: linear-gradient(
        0deg, rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0));
}
#basic-info {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info-par {
    font-weight: bold;
    color: black;
}
.info-span {
    font-size: 1.4em;
    color: var(--main-color);
}

/* VIEW SWITCH */
#view-switch {
    margin: 50px auto;
    padding: 5px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(255,255,255, 50%);
}
.switch {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
}
.on {
    background: transparent;
}
.off {
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
}

/* DATE-SLIDER */
#date-slider {
    margin: 50px auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
}
#date-slider::-webkit-scrollbar {
    display: none;
}
.date-choose {
    flex-basis: 150px;
    flex-grow: 1;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2px;
    grid-template-rows: 45px 50px;
    grid-template-areas:
        "text text divider"
        "icon icon divider";
    background-color: rgba(255,255,255, 50%);
}
.date-choose .date-txt {
    grid-area: text;
    font-weight: bold;
    text-align: center;
    line-height: 1.2em;
    padding-top: 5px;
}
.date-choose .date-icon {
    grid-area: icon;
    font-size: 2.5em;
    line-height: 1em;
    padding-top: 5px;
    text-align: center;
}
.date-choose .divider {
    grid-area: divider;
    border: 0;
    width: 2px;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(
        0deg, rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0));
}
.last .divider {
    background-image: linear-gradient(
        0deg, rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0));
}
#date-slider .chosen {
    background: var(--main-color);
    border-radius: 5%;
}
#date-slider .chosen > *{
    color: white;
}

/* DETAILS ABOUT THE DAY */
.details {
    margin: 50px auto;
    padding: 25px;
    background: rgba(255,255,255, 50%);
}

/* GRAPH */
.graphs {
    margin: 50px auto;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}
.graph {
    width: 800px;
    height: 250px;
    padding: 15px;
    background: rgba(255,255,255, 50%);
    margin: 10px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 80px;
    background: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer p {
    margin-left: 50px;
    color: white;
    line-height: 1.3em;
}
footer span {
    color: orange;
}

/* UKRYWANIE ODPOWIEDNIEJ SEKCJI */
.none, .none * {
    display: none;
    padding: 0;
}



/* Loader - do wczytywania strony */
#loader-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5695f3;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* podstawa */
.cloud_base {
	background: white;
	height: 100px;
	width: 300px;
	border-radius: 50px; 
	
	position: relative;
	top: 120px;

	-webkit-transition: 3s ease-in all;
	-moz-transition: 3s ease-in all;
    transition: 3s ease-in all;
    animation: move 5s infinite;
}
/* basic animacja chmury */
@keyframes move {
    0% {  top: 120px; }
    50% { top: 50px;}
    100% { top: 120px;}
}

/* dodatki z cieniami */
.rounds {
	width: 300px;
	border-radius: 50%; 
	position: absolute;
	bottom: -30px;
	
	-webkit-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);
	
	-webkit-transition: 3s ease-in all;
	-moz-transition: 3s ease-in all;
	transition: 3s ease-in all;
}

.rounds:before, .rounds:after{
	content: '';
	position: absolute;
	background: #fff;
}

.rounds:after{
	height: 100px;
	width: 100px;
	border-radius: 50%; 
	top: -180px;
	left: 170px;
	
	box-shadow:
		inset 3px 2px 2px rgba(230, 230, 230, 0.5),
		0px -10px 15px rgba(255, 255, 255, 0.4);
}

.rounds:before {
	height: 180px;
	width: 180px;
	border-radius: 50%;
	top: -220px;
	left: 30px;
	
	box-shadow:
		inset 2px 4px 2px rgba(230, 230, 230, 0.5),
		0px -10px 15px rgba(255, 255, 255, 0.4);
}

/* ---------------- mobile ---------------- */
@media all and (max-width: 700px){
    #basic-data {
        grid-template-columns: 1fr;
        align-self: center;
        justify-items: center;
    }
    #basic-data .divider {
        display: none;
    }
    #basic-info {
        display: none;
    }
    .info-par {
        font-size: 1em;
    }
    .info-span {
        font-size: 1.5em;
    }
    footer {
        height: 90px;
    }
    footer p {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 0.85em;
    }
}

@media all and (max-width: 400px){
    .form > .fraze {
        width: 0.87vw;
    }
    .form > .btn {
        width: 0.13vw;
    }
    .details {
        padding: 15px;
    }
    .info-par {
        font-size: 0.9em;
    }
    .info-span {
        font-size: 1.2em;
    }
    footer {
        height: 85px;
    }
    footer p {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 0.7em;
    }
}